venv
.venv
core/__pycache__/

/llm/custom

/data/output/*.png
/data/output/backup/*.zip

/data/cerebrum/memory/*/
/data/cerebrum/memory/*.json
/data/cerebrum/memory/*.sqlite3

/data/cerebrum/temp/*.json
/data/cerebrum/temp/*.txt
/data/cerebrum/temp/*.md
