# Python ENV
venv
.venv

# Git modules
.gitmodules

# Python cache folders
.pytest_cache/
src/__pycache__/
src/core/__pycache__/
src/utils/__pycache__/
src/libs/__pycache__/
src/cli/__pycache__/
src/webapp/__pycache__/

plugins/aeon/__pycache__/
plugins/tiny-sd/__pycache__/
plugins/smolvlm-256m-instruct/__pycache__/
plugins/hello-world/__pycache__/

# User output default files
/data/output/*.png
/data/output/*.zip
/data/output/backup/*.zip

/data/chats/*/
/data/chats/*/*.json
/data/chats/*/*.sqlite3

# User input data files
/data/input/*.json
/data/input/*.txt
/data/input/*.md
