venv
.venv
.pytest_cache/
src/__pycache__/
src/core/__pycache__/
src/utils/__pycache__/
src/libs/__pycache__/

/llm/custom

/data/output/*.png
/data/output/backup/*.zip

/data/memory/*/
/data/memory/*.json
/data/memory/*.sqlite3

/data/cerebrum/temp/*.json
/data/cerebrum/temp/*.txt
/data/cerebrum/temp/*.md
