flask
langchain
langchain-core
langchain-community
langchain-chroma
unstructured
pypdf
lxml
beautifulsoup4
python-magic
filetype
pyyaml
sentence-transformers
llama-cpp-python
markdown
ddgs
pytest
flake8