<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AEON.ai</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    
    <div class="chat-container">
        <div class="chat-header">
            <h1><img src="../assets/img/aeon.png" alt="AEON.AI"/></h1>
        </div>
        <div class="chat-window" id="chat-window">
            <div class="message system">
                <p><strong>[AEON] </strong> Welcome!</p>
            </div>
        </div>
        <p id="info-txt">Version: <strong><code>0.0.0</code></strong> | AEON.ai<strong><code></code></strong></p>
        
        <div class="ingest-form">
            <form id="ingest-form" enctype="multipart/form-data">
                <input type="file" id="ingest-file" name="ingest-file" accept=".md,.txt,.json">
                <button type="submit">Upload</button>
            </form>
        </div>
        <form id="chat-form">
            <input type="text" id="user-input" placeholder="Ask a question..." autocomplete="off">
            <button type="submit">Send</button>
        </form>
    </div>

    <script src="../assets/js/chat.js"></script>
</body>
</html>