<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AEON</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
   
    <div class="sidebar">
        <h2><img src="/assets/img/aeon.png" /></h2>
        <a class="links" href="https://github.com/gustavokuklinski/aeon.ai" target="_blank">[GITHUB]</a>
        <button id="new-chat-button" class="sidebar-button">NEW CHAT</button>
        <ul id="conversation-list" class="sidebar-list"></ul>
    </div>

    <div class="main-content">
        <div class="container">
            <div class="chat-box" id="chat-box">
            </div>
            
            <div id="loading-spinner" class="loading-spinner"></div>

            <div id="chat-controls-container" class="chat-controls-container">
                <div class="input-container">
                    <input type="text" id="message-input" placeholder="Type your message..." autofocus>
                    <button id="send-button" class="main-button">Send</button>
                </div>
            </div>
        </div>
    </div>

     <script>
        window.currentConversationId = "{{ initial_conv_id }}";
        window.initialHistory = {{ initial_history | tojson }};
    </script>
    <script src="/assets/js/chat.js"></script>
</body>
</html>
